{% extends 'index.html' %}
{% block body %}
<div class="container">
  <div class="jumbotron LogInPage">
    <div class="FieldsContainer">
      {% if not error %}
        <h2>LogIn</h2>
        <form action="#" method="post">
          {% csrf_token %}
          <input type="text" name="{{ form.username.html_name }}" placeholder="Username" class="form-control">
          <input type="password" name="{{ form.password.html_name }}" placeholder="Password" class="form-control">
          <input type="submit" class="btn btn-primary btn-block">
        </form>
      {% else %}
        <h3>{{ error }}</h3>
        <a href="/UserAuthentication/LogIn"><button class="btn btn-primary btn-block">Go Back</button></a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
