{% extends 'index.html' %}
{% block body %}
  <div class="container">
    <div class="row thumbnail">
      <!-- picture -->
      <div class="col-lg-4 col-md-4 col-sm-12 ProfileComponent">
        <a href="#">
          <img src="http://placehold.it/150x150" alt="">
        </a>
      </div>

      <!-- personal info -->
      <div class="col-lg-4 col-md-4 col-sm-12 ProfileComponent">
        <table>
          <tr>
            <td>Name &nbsp</td>
            <td>Edward Chung</td>
          </tr>
          <tr>
            <td>Area &nbsp</td>
            <td>Modern Art</td>
          </tr>
          <tr>
            <td>Expertice &nbsp</td>
            <td>Beginner</td>
          </tr>
        </table>
      </div>

      <!-- score graph -->
      <div class="col-lg-4 col-md-4 col-sm-12 ProfileComponent">

      </div>
    </div>
  </div>
{% endblock %}
