<div class="modal fade" id="CancelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- cancel button -->

      <!-- header -->
      <div class="modal-header">
        <h4>Cancel the current Hunt</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <p>Would you like to cancel the current Hunt? All progress will be lost!</p>
      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button class="btn btn-default">Go back to Hunt</button>
        <button class="btn btn-primary">Yes, Cancel the Hunt</button>
      </div>
    </div>
  </div>

</div>
