{% extends 'HuntIndex.html' %}
{% block body %}
  <div class="container panel panel-default">
    <a href="/Hunt/HuntCancel"><button class="close"><span aria-hidden="true">&times;</span></button></a>
    <div class="row RowContainer">
      <div class="col-sm-12 col-md-6 col-lg-6 HuntImageContainer">
        <img class="HuntImage" src="http://placehold.it/300x300" alt="">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 HuntContentContainer">
        <div class="page-header">
          <h1>{{ Hunt.Title }}</h1>
        </div>
        <h2>Instruction</h2>
        <div class="well well-lg">
          <ol>
            <li>{{ Hunt.Start }}</li>
            <li>Once you are at the Start Location, Start Your Own Hunt!</li>
            {% url 'Hunt:HuntDetail' Hunt.id CurrentIndex as urlll%}
          </ol>
          <a href="{{ url }}"><button class="btn btn-primary btn-block">Start Hunt</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
