<div class="modal fade" id="CancelModal" role="dialog" aria-labelledby="CancelModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <!-- cancel button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"id="CancelModalTitle">Cancel the current Hunt</h4>
      </div>

      <!-- body -->
      <div class="modal-body">
        <p>Would you like to cancel the current Hunt? All progress will be lost!</p>
      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Go back to Hunt</button>
        <a href="/Hunt/HuntCancel"><button class="btn btn-primary">Yes, Cancel the Hunt</button></a>
      </div>
    </div>
  </div>

</div>
