.SignUpPage {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.LogInPage {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.FieldsContainer {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
