.SignUpPage {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.LogInPage {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.FieldsContainer {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.ProfileComponent {
  margin-top: auto;
  margin-bottom: auto;
}
.ProfileTableBorder {
  border-right-width: 1px;
  border-right-style: dashed;
}

.UserDropdownMenu {
  width: 100%;
  background-color: black;
}

.UserDropdownMenu li a {
  color: white;
}

.ProfilePicture {
  margin-top: 3.0em;
}
.ProfileEditButton {
  margin-top: 1em;
}

.HuntBeginContent {
  margin-left: auto;
  margin-right: auto;
}

.HuntDetail{
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
}

.HuntDetailSubmit {
  margin-top: 15px;
}
